body{
  background-color: rgb(6, 39, 41);
}

.title{
  text-align: center;
  color: rgb(117, 171, 215);
}

.main-container{
  background-color: rgb(17, 100, 104);
}

textarea{
  width: 50vw;
  height: 60vh;
  resize: none;
}

.container{
  padding: 15px 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.json-text-area{
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.error-message-container{
  color: red;
}

.encode-message-container{
  margin-top: 7px;
  max-width: 45vw;
  word-wrap:break-word;
}